[submodule "lib/liberatosthene"]
	path = lib/liberatosthene
	url = https://github.com/nils-hamel/liberatosthene.git
[submodule "src/eratosthene-stream/include/IXWebSocket"]
	path = src/eratosthene-stream/include/IXWebSocket
	url = https://github.com/machinezone/IXWebSocket.git
